* {
    padding: 0;
    margin: 0;
}

html body {
    height: 100%;
}

.main {
    text-align: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dp {
    padding: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}


.second {
    text-align: center;
}

.second hr {
    max-width: 60%;
    margin: auto;
    border: 0;
    border-top: .5px solid #eee;
}

.inspire {
    padding: 30px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.671);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.connect {
    align-content: center;
}

.social_list {
    list-style-type: none;
    padding-top: 50px;
    
}
.social_list li {
    /* float: left; */
    display:inline-block;
    flex-wrap: wrap;
    margin: 10px;
}

.social_list li a {
    color: rgba(0, 0, 0, 0.623);
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
  }

  .social_list li a:hover {
    color: rgb(0, 0, 0);
    transition: ease-in;
    transition-property: color;
    transition-delay: 0.2s;
  }


  .icon {
      max-width: 30px;
      max-height: 30px;
  }

  #name {
    font-family: 'Ubuntu', Verdana, Geneva, sans-serif;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 100;
  }

  #tagline {
    font-family: 'Ubuntu', Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.541);
    cursor: pointer;
  }

/* 
@media screen and (max-width:900px) {
    body {
        display: inline;
    }

    .second {
        max-height: 100px;
        min-width: 100%;
        background-color: rgb(38, 201, 23);
    }

} */